
body {
  overflow-x: hidden;
}

/* Toggle Styles */

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

  .toggled {
    padding-left: 250px;

    #sidebar-wrapper {
      left:0;
    }

    #page-content-wrapper {
      position: absolute;
      margin-right: -250px;
    }
  }
  #sidebar-wrapper {
    height:100%;
    position:fixed;
    left:-200px;
    top:0;
    width:250px;
    background-color: #202124;
    border-color: #202124;
    border-right: 1px solid #ececec;
    border-top: none;
    border-bottom: none;
    box-shadow:3px 0 2px 0 rgba(0,0,0,.03);
    z-index: 1000;
    transition:all ease-in-out .3s;
    -moz-transition:all ease-in-out .3s;
    -ms-transition:all ease-in-out .3s;
    -webkit-transition:all ease-in-out .3s;

    .sidebar-inner {
      height:100%;
      width: 100%;
      max-width: 1170px;
      margin: 0 auto;
      padding: 0;
      position: relative;
      z-index: 2;

      li {
        float: left;
      }

      .sidebar-nav {
        width:200px;
        float:left;
        list-style: none;
        text-align: center;
        margin: 0;

        li {
          width: 100%;
          text-align: left;
          position: relative;
          float: left;

          a {
            color: #3d3d3d;
            font-size: 13px;
            font-weight: 300;
            position: relative;
            display: block;
            padding: 10px 20px;
            line-height: 14px;

            &:hover {
              text-decoration: none;
              color: #fff;
              background: rgba(255,255,255,0.2);
            }

            &:active,
            &:focus {
              text-decoration: none;
            }


            &:before {
              top: 45px;
              position: absolute;
              left: 10px;
              content: '';
              background:#5ea7f0;
              height:2px;
              width:0px;
              margin-left:10px;
              transition:all .3s cubic-bezier(0.175, 0.885, 0.32, 1.8) 0s;
              -moz-transition:all .3s cubic-bezier(0.175, 0.885, 0.32, 1.8) 0s;
              -ms-transition:all .3s cubic-bezier(0.175, 0.885, 0.32, 1.8) 0s;
              -o-transition:all .3s cubic-bezier(0.175, 0.885, 0.32, 1.8) 0s;
              -webkit-transition:all .3s cubic-bezier(0.175, 0.885, 0.32, 1.8) 0s;
            }
          }
        }

        > li > a {
          min-height: 45px;
          line-height: 25px;
          border-left: none;
          border-bottom: 1px solid #2f3033;
          text-transform: uppercase;
          font-size: 11px;
          color: #7d7d7d;
        }
      }

      .push-area {
        position:absolute;
        top:0;
        width:50px;
        right:0;
        height:100%;
        background-color:#202124;
        /*background-image:url(../placeholders/gd_push.png);*/
        background-position:bottom center;
        background-repeat:no-repeat;
        text-align:center;
        box-sizing:border-box;
        outline: 0;
        border-left:1px solid #1e1e1e;

        button {
          border: none;
          background: none;
          position: absolute;
          height: 100%;
          width: 50px;
          left: 0;
          outline: 0;
        }
      }
    }
  }

  #page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
  }
}
/* Sidebar Styles */

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 0;
  }

  #wrapper.toggled {
    padding-left: 200px;
  }

  /*#sidebar-wrapper {*/
    /*width: 0;*/
  /*}*/

  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
    left:0;
  }

  #page-content-wrapper {
    padding: 20px 20px 20px 50px;
    position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}

